/*GENERIC STYLING*/
body {
	box-sizing: border-box;
}

p {
	font-family: "Times New Roman", Georgia, Serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Playfair Display";
	letter-spacing: 0.3em;
	text-align:center;
}

nav {
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	border-bottom: .1em solid black;
	font-family: "Playfair Display";
	letter-spacing: 0.3125em;
	margin-bottom:2em;
}

.nav-link {
	color:black;
	margin: 0 1em;
	transition: .1s ease-in-out .1s;
}

.nav-link:hover {
	letter-spacing: 0.3em;
	color:blue;
}

nav form {
	margin:0 .4em 0 .5em;
	padding:0;
	
}/*Styling for the logout button form*/

.logoutBtn {
	background:none;
	border:none;
	font-family:"Playfair Display";
	letter-spacing:0.4em;
	transition: .1s ease-in-out .1s;
}

.logoutBtn:hover {
	color:blue
}
 

.pageMessage {
	color: red;
	text-align:center;
	padding:1em;
	margin:1em;
}

footer {
	height: 3em;
	background-color: #D3D3D3;
	text-align:center;
	margin-top:1.5em;
}

footer p {
	line-height:3em;
}


/*FORMS*/
/* .formWrap {
	position:relative;
	top:7em;
	background-color:black;
	opacity:0.9;
	color:white;
	padding:0em 1em 2em 1em;
	text-align:center;
	border-radius:1em;
	font-size:1.1em;
}

@media only screen and (min-width: 600px){
	.formWrap {
		width:50%;
		margin:5em auto;
		position:relative;
		top:5em;
	}
}This class makes the form in the form wrapper smaller on screen sizes above 700

Form Icons
.formWrap i {
	text-align:center;
	font-size:6em;
	color:red;
	background-color:black;
	border-radius:100%;
	position:relative;
	padding:.2em;
	top:-.7em;	
}This class is for the form icons

.formWrap textarea {
	width:95%;
	height:5em;
} */

/*index.html*/
#myCarousel {
	margin:1em 0;
}
.carousel-item img {
	height:35em;
	width:100%;
}

.indexBoxWrap {
	padding:4em 0;
}

.indexBox, 
.indexBoxLeftAlign {
	padding: 0.75em 1.5em;
}


.indexBox img{
	max-width:100%;
	width:37.5em;
	height:46em;
	border-radius:.25em;
	opacity: 0.75;
}

.indexBox h5 {
	margin-top:1.2em;
}

.indexBox p {
	text-align: center;
	font-size:1.4em;
}

.indexBoxLeftAlign h1 {
	margin-bottom:1em;
}

.indexBoxLeftAlign h4{
	text-align: left;
}

/*Registration and Login Pages*/
.authForm {
	padding: 1em;
}

.authForm input,
.authForm textarea {
	width: 100%;
  	padding: 0.75em 1.25em;
  	margin: 0.5em 0;
  	display: inline-block;
  	border: 0.06em solid #ccc;
  	background: #f1f1f1;
}/* Full-width input fields */

.authForm input[type = "checkbox"] {
	width:auto;
	margin: 0 1em 0 0;
}


.authForm button {
  	background-color: #04AA6D;
  	color: white;
  	padding: 0.87em 1.25em;
  	margin: 0.5em 0;
  	border: none;
  	cursor: pointer;
  	width: 100%; 
  	transition: .1s ease-in-out .1s;
}

.authForm button:hover {
	opacity: .7;
}

.authForm a {
	color:dodgerblue
}

.authImgContainer {
  text-align: center;
  margin: 24px 0 12px 0;
}/*User image Wrapper*/

.authImgContainer img{
	width:12.5em;
	height:12.5em;
}

.loginAltActionWrap {
	padding: 1em;
	background-color:#f1f1f1;
}

.loginAltActionWrap button {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  color:white
}

.loginAltActionWrap span {
  float: right;
  padding-top: 1em;
}

/*Contact Form*/
.contactFormWrap {
	padding: 4em 1em;
}

.contactFormWrap p:nth-child(4) {
	color: #6699cc;
	font-weight:900;
	font-size:1.4em;
}

/*Styling for reviews page*/
.reviewCardSpan{
	display:contents;
}


.reviewCardSpan ul{
	display:inline-flex;
	padding-left:0;
	list-style: none;
	margin-left: 0;
}/*Styling to allow the Rating tage and font awesome icons be inline*/

.reviewCardSpan ul i {
	color: gold;
	padding: 0 .2em;
}








