<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="htmlFragments :: headElement">
<title>Contact Us</title>
<body>
	<div th:insert="htmlFragments :: navBar"></div>
	<p th:if="${pageMessage}" th:text="${pageMessage}">
		<!-- Contact Section -->
	<div class="contactFormWrap">
		<h1>Contact</h1>
		<br>
		<p>We offer full-service catering for any event, large or small.
			We understand your needs and we will cater the food to satisfy the
			biggerst criteria of them all, both look and taste. Do not hesitate
			to contact us.</p>
		<p>Catering Service, 42nd Living St, 43043 New York, NY</p>
		<p>You can also contact us by phone 00553123-2323 or email
			catering@catering.com, or you can send us a message here:</p>
		<form class="authForm">
			<input type="text" placeholder="Name" required name="Name"> 
			<input type="text" placeholder="Email" required name="Email">
			<textarea placeholder="Your Message?" required name="Message"></textarea>
			<button type="submit">SEND MESSAGE</button>
		</form>
	</div>
	<!--JS Files-->
	<div th:insert="htmlFragments :: jsScripts"></div>
</body>
</html>