<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include = "htmlFragments :: headElement">
	<title>MovieReviews</title>
</head>
<body>
	<!--Navigation Bar-->
	<div th:insert = "htmlFragments :: navBar"></div>
	<!--<p> element below will display a message after role adjustment is attempted -->
	<p th:if = "${pageMessage}" th:text = "${pageMessage}" class = "pageMessage">
	<h1>Movie ReviewsCI Test</h1>
	<!--If the user is not logged in, provide options to login or register to add a review-->
	<div sec:authorize="!isAuthenticated()">
		<h3>Login or Register to add a movie review</h3>
		<div class ="buttonWrap">
			<a th:href="@{/displayLogin}"><button class = "btn btn-success">Login</button></a>
			<a th:href="@{/register}"><button class = "btn btn-primary">Register</button></a>
		</div>
	</div>
	<!--If the user is logged in, display a button allowing them to add a review-->
	<div class ="buttonWrap">
		<a sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal()!=null}" th:href="@{/addReview}">
			<button class = "btn btn-primary">Add Review</button>
		</a>
	</div>
	<!--If there are no movie reviews, display that information-->
	<h1 th:if = "${reviews == 'emptyRepo'}">Looks like there's no reviews to display</h1>
	<!--Display a card for each review if there are reviews-->
	<div th:unless = "${reviews == 'emptyRepo'}">
		<div class = "container-fluid">
			<div class = "row">
				<th:block th:each = "review: ${reviews}" class = "spanIterator">
					<div class = "col-sm-12 col-md-4">
						<div class = "card">
							<h3 th:text = "${review.filmId.name}"></h3>
							<!--Show the movies image if exists-->
							<img th:if = "${review.filmPhoto} != null" th:src="${review.filmPhoto.imageUrl}">
							<i th:if = "${review.filmPhoto} == null" class="fas fa-film" ></i>
							<!--If there are multiple genre's, put a comma after each until the last genre-->
							<th:block th:if="${review.filmId.genres.size()>1}">
								<span class = "reviewCardHeaderSpan">Genres: </span>
								<span class = "reviewCardSpan" th:each = "genre: ${review.filmId.genres}" th:if = "${genreStat.Index != review.filmId.genres.size()-1}" th:text = "${genre.genre.name} + ', '"></span>
								<span class = "reviewCardSpan" th:each = "genre: ${review.filmId.genres}" th:if = "${genreStat.Index == review.filmId.genres.size()-1}" th:text = "${genre.genre.name}"></span>
							</th:block>
							<th:block th:if="${review.filmId.genres.size()<=1}">
								<div>
									<span class = "reviewCardHeaderSpan">Genres: </span>
									<span th:text = "${review.filmId.genres.get(0).genre.name}"></span>
								</div>
							</th:block>
							<!--If there are multiple directors, put a comma after each until the last director-->
							<th:block th:if="${review.filmId.directors.size()>1}">
								<span class = "reviewCardHeaderSpan">Directors: </span>
								<span class = "reviewCardSpan" th:each = "director: ${review.filmId.directors}" th:if = "${directorStat.Index != review.filmId.directors.size()-1}" th:text = "${director.director.name} + ', '"></span>
								<span class = "reviewCardSpan" th:each = "director: ${review.filmId.directors}" th:if = "${directorStat.Index == review.filmId.directors.size()-1}" th:text = "${director.director.name}"></span>
							</th:block>
							<th:block th:if="${review.filmId.directors.size()<=1}">
								<div>
									<span class = "reviewCardHeaderSpan">Director: </span>
									<span th:text = "${review.filmId.directors.get(0).director.name}"></span>
								</div>
							</th:block>
							<div class = "reviewCardSpan">
								<ul>
									<li class = "reviewCardHeaderSpan">Rating: </li>
									<!--Provide an amount of stars equal to the reviews rating-->
									<th:block th:each="i: ${#numbers.sequence(0, review.rating-1)}">
										<li><i class="fas fa-star"></i></li>	
									</th:block>
								</ul>				
							</div>
							<!--Button to view the full review-->
							<a th:href="@{'viewReview/'} + ${review.reviewId}" class = "buttonWrap">
								<button type="button" class="btn btn-success">View Review Details</button>
							</a>
						</div>
					</div>
				</th:block>
			</div>
		</div>
	
	</div>	
	<!--JS Files-->
	<div th:insert = "htmlFragments :: jsScripts"></div>
</body>
</html>